<h1>Movie Theaters</h1>
<br>
<% @movie_theaters.each do |theater| %>
  <div class="row">
    <div class="col-lg-6 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading panel-form-title">
          <h3 class="panel-title pull-left"><%= link_to theater.name, movie_theater_path(theater) %></h3>
          <% if theater.rating > 0 %>
            <p class="panel-title pull-right">Rating: <%= theater.rating %></p>
          <% end %>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <div class="col-lg-6 col-md-6 col-xs-6">
            <%= "#{theater.city}, #{theater.state.abbreviation}" %>
          </div>
          <div class="pull-right">
            Reviews <span class="badge"><%= theater.reviews.count %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
